<p>
  list-currency works!
</p>
<div class="row">
<div  *ngFor="let currency of _listCurrency; let i = index" class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
<app-item-currency [itemCurrency]="currency">
</app-item-currency>
  <br>
</div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
